// GLOBAL CSS
*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

html, body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
  scroll-behavior: smooth;
}

@media (max-width: 480px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 480px),
       (max-height: 720px){
  html {
      font-size: 10px;
  }
}

@media (min-width: 768px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

// GLOBAL CSS

// NAVBAR
#navbar{
  transition: 0.5s;
  position: fixed; 
  overflow: hidden;
  background-color: rgba(33, 33, 33, 0.5);
  top: 0; 
  width: 100%;  
}

#navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 1.5rem;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar .topnav-right {
  float: right;
}

// NAVBAR

// SECTION 1
@media (max-width: 1200px) {
  .logo{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    padding-top: 5%;
    font-size: 5rem;
    font-weight: 300;
  }
  
  h2{
    font-size: 3rem;
    font-weight: 200;
  }

  h1, h2{
    text-align: center;
  }
}

@media (min-width: 1200px) {
  h1 {
    padding-top: 5%;
    font-size: 5rem;
    font-weight: 300;
  }

  h2{
    font-size: 2.5rem;
    font-weight: 200;
  }

  .logo{
    width: 30%;
    padding-right: 10%;
    float: left;
  }
}

#Start{
  background-color: black;
  color: white;
  height:100%;
  width:100%;
  padding: 15%;
  padding-left: 15%;
  box-sizing: border-box;
  align-items: center;
}

// SECTION 1

// SECTION 2
@media (max-width: 400px) {
  #Description p{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 250;
    color: white;
    text-shadow: 0px 8px 4px black;
  }
}

@media (min-width: 400px){
  #Description p{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 250;
    color: white;
    text-shadow: 0px 8px 4px black;
  }
}

#Description{
  background-color: #b02a2a;
  display: block;
  height:100%;
  width:100%;
  padding: 2em;
  padding-left: 3em;
  box-sizing:border-box;
}

// SECTION 2

// SECTION 3
#Research{
  background-color: #0d0a5c;
  display: block;
  height:100%;
  width:100%;
  padding: 1vw;
  padding-left: 2vw;
  box-sizing:border-box;
}

#Research table, th, td {
  border: 2px solid white;
  border-collapse: collapse;
  color: white;
  font-size: 2.3rem;
  font-weight: 200;
  padding: 0.5vw;
}

#Research table {
  margin-left: auto;
  margin-right: auto;
}

.table_overflow {
  overflow-x: auto;
}

#Research p{
  font-size: 2.5rem;
  font-weight: 250;
  text-align: center;
  color: white;
  text-shadow: 0px 8px 4px black;
}

#Research .section3_text p{
  text-align: left;
  font-size: 1.8rem;
  font-weight: 200;
  text-shadow: 0px 0px 0px black;
}
// SECTION 3

// SECTION 4
@media (max-width: 480px) {
  #Join h2{
    text-align: center;
    font-weight: 250;
    font-size: 6rem;
    color:white;
    padding-top: 30vw;
    text-shadow: 0px 8px 4px black;
  }
}

@media (min-width: 480px) {
  #Join h2{
    text-align: center;
    font-weight: 250;
    font-size: 6rem;
    color:white;
    padding-top: 3vw;
    text-shadow: 0px 8px 4px black;
  }
}

#Join{
  background-color: #0a5c16;
  display: block;
  height:100%;
  width:100%;
  padding: 2vw;
  padding-left: 4vw;
  box-sizing:border-box;
}

#Join button{
  background-color: #BC1C1C;
  border: none;
  color: white;
  font-size: 6rem;
  font-weight: 600;
  padding: 2vw 5vw; 
  text-decoration: none;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// SECTION 4