// GLOBAL CSS
*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

html, body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
  scroll-behavior: smooth;
}
// GLOBAL CSS

// NAVBAR
#navbar{
  transition: 0.5s;
  position: fixed; 
  overflow: hidden;
  background-color: rgba(33, 33, 33, 0.5);
  top: 0; 
  width: 100%;  
}

#navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 1.2em;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar .topnav-right {
  float: right;
}

// NAVBAR

// SECTION 1
#Start{
  background-color: black;
  color: white;
  height:100%;
  width:100%;
  padding: 15%;
  padding-left: 15%;
  box-sizing:border-box;
  align-items: center;
}

h1 {
  padding-top: 5%;
  font-size: 5rem;
  font-weight: 300;
}

h2{
  font-size: 2rem;
  font-weight: 200;
}

.logo{
  width: 30%;
  padding-right: 10%;
  float: left;
}
// SECTION 1

// SECTION 2
#Description{
  background-color: #b02a2a;
  display: block;
  height:100%;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing:border-box;
}

#Description p{
  text-align: center;
  font-size: 3.5rem;
  font-weight: 250;
  color: white;
  text-shadow: 0px 8px 4px black;
}
// SECTION 2

// SECTION 3
#Research{
  background-color: #0d0a5c;
  display: block;
  height:100%;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing:border-box;
}

#Research table, th, td {
  border: 2px solid white;
  border-collapse: collapse;
  color: white;
  font-size: 2.5rem;
  font-weight: 200;
  padding: 0.5rem;
}

#Research table {
  margin-left: auto;
  margin-right: auto;
}

#Research p{
  font-size: 2.75rem;
  font-weight: 250;
  text-align: center;
  color: white;
  text-shadow: 0px 8px 4px black;
}

#Research .section3_text p{
  text-align: left;
  font-size: 1.6rem;
  font-weight: 200;
  text-shadow: 0px 0px 0px black;
}
// SECTION 3

// SECTION 4
#Join{
  background-color: #0a5c16;
  display: block;
  height:100%;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing:border-box;
}

#Join h2{
  text-align: center;
  font-weight: 250;
  font-size: 5rem;
  color:white;
  padding-top: 3rem;
  text-shadow: 0px 8px 4px black;
}

#Join button{
  background-color: #BC1C1C;
  border: none;
  color: white;
  font-size: 5rem;
  font-weight: 600;
  padding: 2rem 5rem; 
  text-decoration: none;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// SECTION 4