*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  //font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

h2, p {
  text-align: center;
}

.current {
    color: green;
  }

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
}

#Start{
  background-color: black;
  color: white;
  display: block;
  height:100%;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing:border-box;
  text-align: center;
}

.headline{
  display: inline-block;
  text-align: left;  
}

#Description{
  background-color: red;
  display: block;
  height:100%;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing:border-box;
}

#Research{
  background-color: aqua;
  display: block;
  height:100%;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing:border-box;
}

#Join{
  background-color: green;
  display: block;
  height:100%;
  width:100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing:border-box;
}

